body {
    height: 100%;
    color: #ffff;
    margin: 0;
    background-color: #9333e3;
    font-family: Poppins, sans-serif;
}

#Header{
  display: flex;
}


#loaded {
  background-color: #b46cec;
  color: #9434e4;
  width:90%;
  height: 5px;
}


#loading {
  background-color: #ffffff;
  color: #9434e4;
  width:10%;
  height: 5px;
}

#NameLogo{ 
  color: white;
  padding: 25px;

}

#choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

h1 {
  color: #ffff;
  width: 100%;
  margin: 0;

}

p {
}

a {
  color: #ffff;
  background-color: #9b45e5;
  border-radius: 25px;
  border: 2px solid #d1a9f3;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

li {
  padding: 4px;
}

ul {
  list-style-type: none;
  padding: 25px;
  }



